*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
img{
    max-width: 60%;
    justify-content: right;

}
.container{
    width: 80%;
    margin: 1rem auto;
}
.site-init{
    background-color: aquamarine;
    height: 50vh;
}
.menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.menu-bar h1{
    margin: 0;
    font-size: 24px;
}
.menu-bar nav{
    display:inline-block;
}
.menu-bar nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
